{% extends 'base.html' %}
{% load static %}

{% block title %}Técnicas y Cursos{% endblock %}

{% block content %}
<section class="min-h-screen p-8 md:p-20 lg:ml-8">
    <div class="max-w-6xl mx-auto mb-16 text-center md:text-left">
       <h1 class="text-6xl md:text-7xl font-black tracking-tighter leading-none mb-4 text-white">
    TÉCNICAS <span class="jujutsu-gradient-text italic pr-4 inline-block">APRENDIDAS</span>
</h1>           
        <p class="text-slate-500 font-medium max-w-xl uppercase text-xs tracking-[0.2em]">
            Conocimientos y habilidades adquiridas a lo largo de mi trayectoria profesional.
        </p>
    </div>

    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for curso in datos %}
        {% if curso.activarparaqueseveaenfront %}
        <div class="relative bg-[#0a0f1d]/60 border border-white/5 p-8 rounded-[2rem] flex flex-col justify-between">
            <div>
                <div class="flex justify-between items-start mb-6">
                    <div class="w-12 h-12 bg-blue-500/10 rounded-2xl flex items-center justify-center text-blue-400">
                        <i data-lucide="award"></i>
                    </div>
                    <span class="text-[10px] font-black px-3 py-1 bg-white/5 border border-white/10 rounded-full text-slate-500">
                        ID: {{ curso.idcursorealizado }}
                    </span>
                </div>

                <h3 class="text-xl font-black text-white uppercase">{{ curso.nombrecurso }}</h3>
                <p class="text-slate-400 text-sm italic mb-4">{{ curso.entidadpatrocinadora }}</p>
                <span class="text-[10px] font-bold text-blue-400 bg-blue-500/10 px-3 py-1 rounded-lg">{{ curso.totalhoras }} Horas</span>
            </div>

            <div class="pt-6 mt-6 border-t border-white/5 flex items-center justify-between">
                <span class="text-sm font-bold text-slate-200">{{ curso.fechafin|date:"M Y" }}</span>
                {% if curso.rutacertificado %}
                <a href="{{ curso.rutacertificado.url }}" target="_blank" class="w-10 h-10 rounded-full bg-white/5 flex items-center justify-center border border-white/10 hover:bg-white hover:text-black">
                    <i data-lucide="external-link" size="16"></i>
                </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<script>lucide.createIcons();</script>
{% endblock %}